*{ 
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 960px;
    background-color: silver;
    margin: 50px auto;
    padding: 20px;
}
#header{
    min-height: 150px;
    background-color: green;
}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin-top: 20px;
    padding: 20px;
    display: inline-block;
}

.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin-right: 20px;
    display: inline-block;
}
#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 30px;
}